    <center><%= link_to logo, root_path %></center>
      <center><h4>Welcome to <em>newquill</em>!</h4></center>
      <center><h4>For best performance, please use Google Chrome.<h4></center>
      
      <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>