<!DOCTYPE html> 
<html lang="en" id="html"> 
<head><title>newquill</title></head>
<body>
    <p><form name="videoForm">Add a Video URL: <input type="text" name="videoURL" size="100"></input></form><input type="button" value="Submit" onClick="submitURL();"></input></p>
    <p><form name="YouTubeForm">Add a YouTube Video: <input type="text" name="YouTubeURL" size="100"></input></form><input type="button" value="Submit" onClick="submitYouTubeURL();"></input></p>
    <p>Note: Video URLs must end in .mov or .m4v. To add YouTube videos, use the iframe embed code.</p> 
</body>
<script>
    function submitURL(){
        var userVideoURL = document.videoForm.videoURL.value;
        var htmlToInsert = "<li><center><video src='" + userVideoURL + "' controls='controls'></video></center></li>";
        opener.document.getElementById('sortable2').insertAdjacentHTML("beforeEnd", htmlToInsert);
        window.close();
    }
    function submitYouTubeURL(){
        var userYouTubeURL = document.YouTubeForm.YouTubeURL.value;
        alert(userYouTubeURL);
        document.write(userYouTubeURL.replace("frameborder='0'","frameborder='1'"));
        alert(userYouTubeURL);
        var htmlToInsert = "<li><center>" + userYouTubeURL + "</center></li>";
        opener.document.getElementById('sortable2').insertAdjacentHTML("beforeEnd", htmlToInsert);
        window.close();
    }
</script>
</html>